
header.pageheader {
	background-image: url(../HTML/images/banner-904884_1920.jpg);
	height: 50px;
	top:-10px;
	position: relative;
}
footer.pagefooter {
	background-image: url(../HTML/images/banner-916671_1920.jpg);
	height: 50px;
	position: relative;
	z-index: 10;
}
img#ecran{
	width: 765px;
	height:645px;
	top:-5px;
	position: relative;
}
div#rightcol{
	width: 115px;
	left:-5px;
	top:-5px;
	height:645px;
	position:relative;
	vertical-align: middle;
	border-style: double;
	float: right;
	color:#FF9147;
}
hr{
	border-color:#FF9147;
}
.universite{
	color: green;
	border-style: solid;
	border-color: green;
	font-size: 10.5px;
	display:block;
	width: 110px;
	height:70px;
	margin-bottom: 7px;
}
.universite:hover{
	cursor: crosshair;
}


div#page{
	width:900px;
	text-align: justify;
	position: relative;
	left: 50%;
    margin-left: -450px;
    overflow: auto;
    border-left: dotted;
    border-right: groove;
    top: 50px;
    
}

body{
	text-align: center;
	overflow: auto;
}

